{% extends 'base.html.twig' %}

{% block title %}Hello VetementController!{% endblock %}

{% block body %}

    <ul>
        {% for vetement in vetements %}
            <li>
                {{ vetement.nom }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
